{% extends "base.html" %}

{%block title %}Produkte {% endblock %}

{% block content %} 

<h1><em> Produkte </em></h1>

<p>
  In meinem kleinem, aber feinem Sortiment finden Sie je nach Saison und Ernte die verschiedensten Destillate. 
  Vom klassischen Kräuterbrand über fruchtige Liköre und aromatische Gin Sorten bis hin zum ausgefallenen 
  Bierbrand ist für jeden Geschmack etwas dabei.
</p>
<br>
<br>

<div class="container">
  <div class="row flex-column-reverse flex-sm-row">
    <div class="col-sm"></div>
    <div class="col-sm-4">
      <br>
      <img class="media-decoration-img img-fluid" src="{{url_for('static', filename='/img/gin2.jpg')}}" alt="...">
    </div>
    <div class="col-sm"></div>
    <div class="col-sm-4">
      <h2>
        <em>Der</em> Gin
      </h2>
      <br>
      <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
        </p>
    </div>
    <div class="col-sm"></div>
    </div>

  <br>
  <br>

  <div class="row">
    <div class="col-sm"></div>
    <div class="col-sm-4">  
      <p class="mb-0">
        <h2>
          Birne
        </h2>
        <br>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
        </p>
    </div>
    <div class="col-sm"></div>
    <div class="col-sm-4">
      <br>
      <img class="media-decoration-img img-fluid" src="{{url_for('static', filename='/img/gin1.jpg')}}" alt="...">
    </div>
    <div class="col-sm"></div>
    </div>
  </div>

  <br>
  <br>


  <div class="row flex-column-reverse flex-sm-row">
    <div class="col-sm"></div>
    <div class="col-sm-4">  
      <br>
      <img class="media-decoration-img img-fluid" src="{{url_for('static', filename='/img/gin7.png')}}" alt="...">
    </div>
    <div class="col-sm"></div>
    <div class="col-sm-4">
      <h2>
        <em>Der</em> Bockbrand
      </h2>
      <br>
      <p class="mb-0">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias veritatis nisi, consequatur, laborum libero a neque ducimus. Porro rem illum quo nostrum quisquam asperiores. Possimus facilis velit, voluptatibus!
        </p>
    </div>
    <div class="col-sm"></div>
    </div>
</div>


{% endblock%}