{% extends "base.html" %}

{%block title %} Verkostungen {% endblock %}

{% block content %}
<p> 
    Zum Verkosten meiner Destillate bieten ich ein stilvolles Ambiente und verwöhne Sie mit kleinen Gaumenfreuden. 
    Auf Wunsch stimme ich mich individuell mit Ihnen ab und arrangiere für Sie im privaten Rahmen ein gemütliches Beisammensein.
</p>

<p>
    Hier in der Destillerie haben wir Platz für bis zu 10 Personen- ganz privat, stilvoll, gemütlich zusammen sein, 
    probieren und genießen. Vom süßen Kaffeeklatsch über bayerische Tapas bis zum köstlichen Mehrgangmenü, stellen wir 
    Ihnen gerne ein Erlebnis nach Ihren persönlichen Vorstellungen zusammen. Setzen Sie sich mit 
    uns in Kontakt und äußern Sie ihre individuellen Wünsche. Per Mail an as@destillerie.eu oder telefonisch unter +491739723444 
</p>

{% endblock %}